/* Estilização Geral do Corpo */
body {
  font-family: Arial, sans-serif; 
  background-color: #e9ecef; 
  line-height: 1.6; 
  margin: 0; 
  padding: 0; 
  max-width: 1028px;
  margin: 0 auto;
}

/* Estilização do Perfil */
.perfil {
  background-image: 
    linear-gradient(#0000ff80 40%, #ff000080),
    url(./img//code.jpg);
  padding: 30px 20px; 
  margin: 20px; 
  text-align: center; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.perfil img {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border: 3px solid #4A90E2; 
  border-radius: 50%;
  margin-bottom: 10px; 
}

.perfil h1 {
  color: #ffffff;
  font-size: 2.5em;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.perfil p {
  color: #ffffff; 
  font-style: italic;
  font-weight: bold; 
  margin-top: 5px; 
  text-shadow: 1px 1px 2px black;
}
/* Estilização das Seções */
.secao {
  background-color: #c0ccf5; 
  padding: 20px; 
  margin: 20px; 
  border-left: 5px solid #4A90E2; 
  border-radius: 5px; 
}

.secao h2 {
  color: #4A90E2; 
  margin-top: 0; 
  text-align: center;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.secao p {
  text-align: center;
}

.secao ul {
  list-style-type: none; 
  padding: 0;
  width: 500px;
  margin: 0 auto;
}

.secao a {
  text-decoration: none;
  color: #333; 
}

.secao li {
  font-weight: bold;
  background-image: linear-gradient(#0000ff80, #05cef180);
  margin-bottom: 5px; 
  padding: 8px 12px; 
  border-radius: 5px; 
  text-align: center;
  cursor: pointer;
  transition: background-image 0.5s ease, transform 0.5s ease;
  box-shadow: 10px 5px 5px #000000;
}

.secao li:hover {
  background-image: linear-gradient(#3b3bf880, #41defa80);
  transform: scale(1.05);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 16px;
}


.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.contato p {
  margin-left: 24px;
}